

 * {
    box-sizing: border-box;
    text-align: center;
  }

  .container{
      background-color: #777;
      height: 768px;
  }

  body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: #333;
  }
  
 
  #header {  
    position: relative;
    width: 960px;
    top: 10px;
    left: 150px;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    font-size: 18px;
  }
  
  #nav {  
    position: relative;
    width: 960px;
    /* top: 10px; */
    left: 150px;
    padding: 20px;
    margin-bottom: 20px;
    color: #777;
    background: #ebebeb;
    font-size: 18px;
  }
  
  #section {
    padding: 20px;
    margin-bottom: 20px;
    background: #ebebeb;
    font-size: 18px;
    float: left;
    position: relative;
    left: 150px;
    width: 495px;
    overflow: auto;
    clear: both;
    color: #777;
    font-size: 18px;
  }
  
  /* article */
  #article {
    /* float: left; */
    position: relative;
    top: 40px;
    width: 475px;
    height: 240px;
    padding: 20px;
    margin-left: 30px;
    font-size: 18px;
    text-decoration-color: #ebebeb;
    background: #777;
    
  }
  #h1h2h3 {
    padding: 20px;
    margin-top: 20px;
    background: #ebebeb;
    font-size: 18px;
    font-style: bold;
    color: #777;
  }

  #p {
    padding: 20px;
    margin-top: 20px;
    background: #ebebeb;
    font-size: 18px;
    font-style: bold;
    color: #777;
  }
  
  aside{
    float: right;
    position: relative;
    right: 115px;
    padding: 130px;
    margin-bottom: 20px;
    background-color: #ebebeb;
    color: #777;
  }

  #footer {
    position: relative; 
    left: 150px;
    width: 960px;
    top: 10px;
    padding: 20px;
    clear: both;
    background: #ebebeb;
    color: #777;
    font-size: 18px;
  }
  